body {
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#topnav {
    border-bottom:solid red 2px ;
    background-image: url(images/topnav-back.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#left img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 5px;
}
#right {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}
#right img{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1476px;
    top: 17px;
    transition: all 250ms;
    
}
#right img:hover{
    transform: scale(1.11);
    cursor: pointer;
}

.sub-menu-wrap{
    position: absolute;
    top: 85px;
    right: 5px;
    width: 320px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;
    opacity: 0;
}

.sub-menu{
    
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    transition: all 250ms;
}
.sub-menu:hover{
    transform: scale(1.01);
}
.user-info{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    border-bottom: 2px solid gray;
}
.user-info h2{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 7px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link span{
    font-size: 22px;
}
.sub-menu-link:hover p{
    font-weight: 600;
}
