body {
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#topnav {
    border-bottom:solid red 2px ;
    background-image: url(images/topnav-back.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#left img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 5px;
}
#right img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-left: 3px;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: white;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h2{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 7px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link span{
    font-size: 22px;
}
.sub-menu-link:hover p{
    font-weight: 600;
}