body {
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.top{
    width : 100%;
    height: 140px;
    background:linear-gradient(rgb(91, 204, 91) , rgb(56, 157, 56) , rgb(6, 109, 6));
}
.inner-top
{
    position: relative;
    width:70%;
    height:130px;
    margin-left: 15%;
    top: 5px;
    background: linear-gradient(rgb(82, 71, 71), rgb(43, 14, 14) , black) ;
    border-radius: 10px;
}
.emb-img img{
    width:50px;
    height: 80px;
    border-radius: 10px;
    margin-top: 24.5px;
    margin-left: 20px;
    display: inline-block;
    -webkit-user-select: none;

}
.emb-img{
    display: inline-block;
    -webkit-user-select: none;

}

.top-tag-1{
    position: absolute;
    left:100px;
    font-size: 30px;
    top:30px;
    color: white;
    display: inline-block;
    font-weight: bolder;
    -webkit-user-select: none;
}
.top-tag-2{
    position: absolute;
    left:100px;
    top:65px;
    font-size:22px;
    color: rgb(146, 215, 167);
    display: inline-block;
    font-weight: bold;
    -webkit-user-select: none;
}
#topnav {
    border-bottom:solid red 2px ;
    background-color: black;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;

}
#left img{
    position: absolute;
    top:15px;
    right:15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-left: 5px;
    -webkit-user-select: none;

}
#left img:hover{
    cursor: pointer;
}
.mid ul li{
    display: inline-block;
}
.mid ul li a{
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
    font-weight: bold;
    -webkit-user-select: none;
}

.mid ul li a:hover{
    color:red;
}
#right {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    right:30px;
}
#right img{
    position: relative;
    width: 40px;
    height: 40px;
    right:0px;
    transition: all 250ms;
    
}
#right img:hover{
    transform: scale(1.11);
    cursor: pointer;
}

.sub-menu-wrap{
    position: relative;
    top: 0px;
    left:1240px;
    width: 320px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;
    opacity: 1;
}

.sub-menu{
    
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    transition: all 250ms;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sub-menu:hover{
    transform: scale(1.01);
}
.user-info{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    border-bottom: 2px solid gray;
    font-family: "Playfair Display";
    font-weight: bolder;
    font-size: 20px;
}
.user-info h2{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 7px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link span{
    font-size: 22px;
}
.sub-menu-link:hover p{
    font-weight: 600;
}
